numpy
torch==1.9.0
tqdm
colorlog
boto3
pytorch-pretrained-bert==v0.6.0
regex
scikit-learn
pyyaml
pytest
sentencepiece
ml-collections
tensorboardX
tensorboard
future
fairseq
seqeval==0.0.12
transformers==4.16.2 
accelerate
datasets 